{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<style>
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
</style>
{% if show_course_list %}
  <div class = "text-center" style="margin-top:30px">
    <h1>Course Recommendation</h1>
  </div>
{% else %}
  <div class = "text-center" style="margin-top:300px">
    <h1>Course Recommendation</h1>
  </div>
{% endif %}

<form action="" method="post">
  <div class="row">
    {% if show_course_list %}
    <h3 class = "text-center" style='color:green'>Here are recommended courses for Student {{ student_name }}: </h3>
{% else %}
  <div class = "text-center">
    {% csrf_token %}
    {{ from.errors }}
    {{ form }}
  </div>
  <div class = "text-center" style="margin-top:10px">
    <input type="submit" value="Recommend!" class="btn btn-success btn-block btnrec">
  </div>
  </div>
{% endif %}
    
  {% if show_course_list %}
    <hr>
  </div>
    <div class="container">
      <div class="row">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Based on classmate's courses
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                {% for i in attended_by_classmates_lst %}
                <ul>
                    {{i}}
                </ul>
            {%  endfor %}
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Based on programs participated in
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                {% for i in attended_by_classmates_lst %}
                <ul>
                    {{i}}
                </ul>
            {%  endfor %}
              </div>
            </div>
          </div>
          <div class="accordion-item col">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Based on teachers' taught courses
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                {% for i in teacher_other_course_lst %}
                <ul>
                    {{i}}
                </ul>
            {%  endfor %}
              </div>
            </div>
          </div>
            <div class="accordion-item col">
              <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Based on course sites
                </button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  {% for i in site_other_course_lst %}
                <ul>
                    {{i}}
                </ul>
            {%  endfor %}
                </div>
              </div>
          </div>
        </div>
      </div>  
    </div>
  {% endif %}
</form>
<script type="text/javascript">
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
      console.log("clicked");
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>



{% endblock content %}